@model ProjectTimeTracking.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KindOfEmployment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KindOfEmployment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeePassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeePassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeEntries)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Project Name</th>
                    <th>Hours Worked</th>
                </tr>
                @foreach (var item in Model.TimeEntries)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeWorked)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
