@model IEnumerable<ProjectTimeTracking.Models.TimeEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateWorked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeWorked)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimeEntryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimeEntryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimeEntryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
